## SPDX-License-Identifier: GPL-2.0-only

if BOARD_TO_BE_FILLED_BY_O.E.M_TO_BE_FILLED_BY_O.E.M

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select AZALIA_USE_LEGACY_VERB_TABLE
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select MAINBOARD_HAS_LIBGFXINIT # FIXME: check this
	select NORTHBRIDGE_INTEL_HASWELL
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_LYNXPOINT

config MAINBOARD_DIR
	string
	default "to_be_filled_by_o.e.m/to_be_filled_by_o.e.m"

config MAINBOARD_PART_NUMBER
	string
	default "To Be Filled By O.E.M."

config VGA_BIOS_ID
	string
	default "8086,0402"

config USBDEBUG_HCD_INDEX # FIXME: check this
	int
	default 2
endif
